table {
  border-collapse: collapse;
  margin: 10px 0;
  width: 100%;
}

th,
td {
  border: 1px solid #ccc;
  padding: 6px;
  text-align: right;
}

th {
  background: #f0f0f0;
}

.accordion {
  margin-top: 20px;
}

.acc-header {
  background: #e0e0ff;
  padding: 10px;
  cursor: pointer;
  border: 1px solid #aaa;
  margin-top: 5px;
}

.acc-body {
  display: none;
  padding: 10px;
  border: 1px solid #aaa;
}