.input-form {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.input-form label {
  width: 200px;
  text-align: right;
  margin-bottom: auto;
}
.input-form .input {
  flex: 1;
  text-align: left;
}

#simulate {
  margin-left: 200px;
}

th,
td {
  border: 1px solid #ccc;
  padding: 6px 10px;
  text-align: right;
}

th {
  background: #f0f0f0;
}