/* 通知ウィンドウ_01(右下に表示) */
#notify_01 {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: #abc;
  color: #111;
  padding: 12px 20px;
  border-radius: 10px;
  font-size: 14px;
  display: none;
}

/* 通知ウィンドウ_02(トースト風) */
#notify_02 {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%); /* 表示個所を50%左に寄せて中央揃えにする */
  background: #eee;
  color: #111;
  border: 1px solid #aaa;
  padding: 12px 20px;
  border-radius: 10px;
  font-size: 14px;
  display: none;
  z-index: 9999;
}

/* 通知ウィンドウ_03(画像＋テキスト) */
#notify_03 {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: #333;
  color: #fff;
  padding: 12px 18px;
  border-radius: 6px;
  font-size: 14px;
  z-index: 9999;
  display: none;
  align-items: center;
  gap: 10px;
}
/* 画像のサイズ */
#notify_03 img {
  width: 128px;
  height: 128px;
}

/* 通知ウィンドウ_無造作に生成 */
.notify_spawn {
  position: fixed;
  background: #333;
  color: #fff;
  padding: 12px 18px;
  border-radius: 6px;
  font-size: 14px;
  z-index: 9999;
  display: flex;
  align-items: center;
  gap: 10px;
}
.notify_spawn img {
  width: 128px;
  height: 128px;
}

/* 通知ウィンドウ_下から表示 */
.notify_crawl_up {
  position: fixed;
  bottom: 20px; /* 画面下から表示 */
  left: 50%;
  transform: translateX(-50%);
  background: #333;
  color: #fff;
  padding: 12px 18px;
  border-radius: 6px;
  font-size: 14px;
  z-index: 9999;
  display: flex;
  align-items: center;
  gap: 10px;
  /* アニメーション */
  transition: transform 1s ease, opacity 1s ease;
}
.notify_crawl_up img {
  width: 128px;
  height: 128px;
}